@charset "utf-8";

*:focus {
    outline: none;
}

html {
    min-height: 100%;
    word-wrap: normal;
}

body {
    -webkit-text-size-adjust: 100%;
    margin: 5%;
    min-height: 100%;
    flex-direction: column;

    font-size: 100%;
    color: #191919;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    position: relative;
    height: 20vh;
    background: url(img/header.png) center / cover;
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    color: #93c8e5;
    text-decoration: none;
}

table,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-align: left
}

.prof2 {
    margin: 1em;
    font-size: 80%;
}

.prof2 th {
    font-size: 90%;
    color: #555555;
}

.prof {
    display: inline-block;
    text-align: center;
}

.icon {
    width: 150px;
}

.appicons {
    margin: 0.15em;
    height: 1.4em;
    vertical-align: middle;
    border-radius: 50%;
}

.setsumei td {
    min-width: 5em;
}

.setsumei th {
    padding-left: 2em;
    font-size: 80%;
    color: #555555;
}

.setsumei td {
    font-size: 100%;
}

/*放置してるサイト用*/
.houchi{
    color: #bbbbbb;
}
.houchi img{
    opacity: 0.5;
}
.houchi th{
    color: #bbbbbb;
}
.houchi a{
    color: #bbbbbb;
}

/*ゲームのとこ*/
.games{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    padding : 0;
}
.games li{
    width: 400px;
    height: 400px;
}
.games p{
    margin: 0;
    position: absolute;
    background-color: #ffffff;
    margin-top: 1.1em;
    padding: 0.5em;
}
.thumbnail {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

/*アプリサイト用*/
hr {
    border: none;
    border-top: 1px dashed #ccc;
    height: 1em;
    text-align: center;
    overflow: visible;
}

hr:after {
    content: "\002702";
    background: rgba(255, 255, 255, 0);
    color: #ccc;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    top: -1em;
    padding: 0 0.5em;
}

.history {
    font-size: 80%;
}

@media only screen and (max-width:500px) {
    .unity600900 {
        width: 94%;
    }
}